#ranking .table tbody td.ranking-1,
#ranking .table tbody td.ranking-2,
#ranking .table tbody td.ranking-3 {
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  background-image: url(./medal_gold.svg);
}

#ranking .table tbody td.ranking-2 {
  background-image: url(./medal_silver.svg);
}

#ranking .table tbody td.ranking-3 {
  background-image: url(./medal_bronze.svg);
}
